:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  
  /* Temadan gelen rengi kullan diyoruz */
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  
  /* Geçişler yumuşak olsun */
  transition: background-color 0.3s ease, color 0.3s ease;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: var(--bs-body-bg); 
}
::-webkit-scrollbar-thumb {
  background: #6c757d; 
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #495057; 
}